/* -------------------------- *\
	Globel
\* -------------------------- */
@font-face {
    font-family: 'jf-openhuninn';
    src: url('vendor/jf-openhuninn-2.0.ttf') format("truetype")
  }
* {
	box-sizing: border-box;
	position: relative;
}
html,body {
    font-family: 'Inter', sans-serif;
	margin: 0;
}
h1,h2,h3,p{
    margin: 0;
}
p{
    font-size: 20px;
    line-height: 40px;
    font-weight: 500;
    letter-spacing: 4px;
}
h2{
    font-size: 40px;
    letter-spacing:8px ;
}
h3{
    font-size: 32px;
    letter-spacing:20px;
}
.title{
    font-size: 48px;
    letter-spacing: 20px;
    font-weight: 700;
}
@media screen and (max-width: 1024px) {
    p{
        font-size: 16px;
        line-height:36px;
        letter-spacing: 0;
    }
    .title{
        font-size:36px ;
        letter-spacing: 12px;
    }
}
@media screen and (max-width: 740px){
    .title {
        font-size: 24px;
        letter-spacing: 4px;
    }
    
}

/* -------------------------- *\
	Layout
\* -------------------------- */
.row{
    display: flex;
}
.col-3{
    width: 33.33%;
}
.col-6{
    width: 50%;
}

.title_box{
    width: 80%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.title_box .line{
    height: 2px;
    width: 50%;
    background-color: #EBD9B4;
}
.title_box .word{
    color: #EBD9B4;
    text-align: center;
    width: 400px;
}
@media screen and (max-width: 740px){
    .title_box{
        width: 100%;
    }
    .title_box .word{
        width: 250px;
    }
}

/* -------------------------- *\
	Component
\* -------------------------- */
.mask{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0,0.5);
    position: absolute;
    top: 0;
    left: 0;

}
/* -------------------------- *\
	Navbar
\* -------------------------- */
.navbar{
    width: 100%;
    background-color: #FFF;
    padding: 10px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    opacity: 0;
    transition: 1s;
    z-index: 10;
}
.navbar.show_nav{
    opacity: 1;
}
ul{
    display: flex; 
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: #1F3B2C;
    font-size:20px ;
    margin: 0 20px;
}
#burger_btn{
    /* border: #1F3B2C solid 2px; */
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50px;
    height: 50px;
}
#burger_btn div{
    width: 40px;
    height: 3px;
    background-color: #1F3B2C;
}

#burger_list{
    position: fixed;
    right: 0;
    z-index: 9;
    width: 150px;
    background-color: #FFF;
    flex-direction: column;
    padding:80px 12px;
    display: none;
}
#burger_list li{
    margin:20px 0;
}
@media screen and (max-width: 740px){
    .navbar{
        padding: 10px 15px;
    }
    .navbar ul{
        display: none;
    }
    #burger_btn{
        display: flex;
    }
}
/* -------------------------- *\
	Header
\* -------------------------- */
.header{
    width: 100%;
    height: 900px;
    background-image: url(images/bgN.png);
    background-size: cover;
    background-position: bottom;
}
.header .brand_name{
    color: #EBD9B4;
    top: 20%;
    font-size: 100px;
    letter-spacing:80px ;
    text-align: center;
}
.header .dust{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.vegetable img{
    width: 200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    animation: grow 9s infinite ;
    bottom: -80px;
}
@media screen and (max-width: 1024px){
    .header{
        height: 800px;
    }
    .header .brand_name{
        font-size: 60px;
        letter-spacing: 40px;
    }
    .vegetable img{
        width: 160px;
    }
}
@media screen and (max-width: 740px){
    .header{
        height: 400px;
    }
    .header .brand_name{
        font-size: 32px;
        letter-spacing: 16px;
    }
    .vegetable img{
        width: 80px;
    }
}
#v2{
    bottom: -50px;
    animation-delay: 3s;
}
#v3{
    bottom: -30px;
    animation-delay: 5s;
}
@keyframes grow{
    20%{
        opacity: 1;
    }
    80%{
        opacity: 0;
        bottom: -10px;
    }
}

/* seed */
.seed{
    position: absolute;
    top: 0;
    left: 50%;
    opacity: 0;
    animation: drop 6s infinite;
}
.seed1{
    animation-delay: 2s;
}
.seed2{
    animation-delay: 1s;
}
@keyframes drop{
    10%{
        opacity: 1;
        transform: rotate(0deg);
    }
    100%{
        top: 800px;
        transform: rotate(300deg);
    }
}
@media screen and (max-width: 740px){
    .seed{
        width: 40px;
    }
}
/* -------------------------- *\
	About
\* -------------------------- */
.about{
    background-color: #1F3B2C;
}
.about_container{
    margin: 0 auto;
    color: #EBD9B4;
    padding: 150px 80px;
    align-items: stretch;
}
.about_container .col-3{
    text-align: center;
    margin: 0 12px;
    padding:40px 20px;
    border: 3px solid #EBD9B4;
}
.about_container .icon{
    width: 120px;
    margin: 0 auto;
}
.about_container .col-3 h3{
    display: inline-block;
    margin: 12px auto; 
}
.about_container .col-3 p{
    color: #FFF; 
}
@media screen and (max-width: 1024px){
    .about_container{
        padding: 40px 0;
    }
    .about_container .icon{
        width: 80px;
    }
}
@media screen and (max-width: 740px){
    .about_container{
        flex-direction: column;
        align-items:center;
        padding: 40px 20px;
    }
    .about_container .col-3{
        margin: 12px 0px;
        max-width: 300px;
        width: 100%;
    }
}



.info{
    width: 100%;
    background-color: #231E1A;
    /* background-image: url(images/istockphoto-index_bottom_bg.jpg);
    background-size: cover; */

}
@media screen and (max-width: 1024px){

}
/* -------------------------- *\
	Know
\* -------------------------- */
.know{
    width: 100%;
    padding-top: 80px;
    padding-bottom: 250px;
    background-image: url(images/know.png);
    background-size: cover;
}

.know_container{
    text-align: center;
    /* border: #EBD9B4 2px solid; */

}
.know_container .title{
    color: #F9EFDB;
    /* border: #EBD9B4 2px solid; */
}
.know_box{
    width: 600px;
    padding: 20px;
    border: #1F3B2C 4px solid;
    background-color: rgba(235, 216, 178, 0.8);
    margin: 50px auto;

}
.know img{
    position: absolute;
    bottom: 0;
}
@media screen and (max-width: 1024px){
    .know_container{
        top: 50px;
    }
    .know_box{
        width: 540px;
    }
}
@media screen and (max-width: 740px){
    .know_box{
        width: 90%;
    }
    .know_box{
        border: none;
        background-color: rgba(235, 216, 178, 0);
        color: #EBD9B4;
        padding: 0;
    }
    .know{
        padding-bottom:120px ;
    }
}
/* -------------------------- *\
	News
\* -------------------------- */
.news{
    margin-top: 150px;
}
.news_box{
    border-radius: 20px;
    overflow: hidden;
}
.news_container{
    width: 80%;
    margin: 80px auto;
}
.news_container .owl-carousel .news_box{
    width: 560px;
    margin: 0 40px;
}
@media screen and (max-width: 1024px){
    .news_container .owl-carousel .news_box{
        width: 400px;
        margin: 0 32px;
    }

}
@media screen and (max-width: 740px){
    .news_container .owl-carousel .news_box{
        width: 240px;
        margin: 0 16px;
    }


}

.contact{
    margin-top: 100px;
    padding: 100px 0;
}

.contact .contact_container{
    color: #EBD9B4;
    text-align: center;
    padding: 0 12px;

}
.contact .contact_container p{
    font-size: 32px;
    margin: 40px 0;
}
@media screen and (max-width: 1024px){
    .contact .contact_container p{
        font-size: 24px;
    }
}
@media screen and (max-width: 740px){
    .contact{
        margin-top: 50px;
        padding: 50px 0;
    }
    .contact .contact_container p{
        font-size: 20px;
        margin: 8px 0;
    }
}

/* -------------------------- *\
	Footer
\* -------------------------- */
footer{
    display: flex;
    padding: 20px 50px;
    background-color: #1F3B2C;
    color: #FFF;
    justify-content: space-around;
}
footer img{
    width: 200px;
}
footer .media img{
    width: 60px;
}
@media screen and (max-width: 1024px){
    footer{
        padding: 20px;
    }
    footer img{
        width: 150px;
    }
}
@media screen and (max-width: 740px){
    footer{
        flex-wrap: wrap;
    }
    footer div{
        margin: 20px 0;
    }
}

/* -------------------------- *\
	min.html
\* -------------------------- */
.min_header{
    background-image: url(images/istockphoto-839874814-1024x1024.jpg);
    background-size: cover;
    background-position: right;
    padding: 200px 0;
}
.logo_box{
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
}
.logo_box p{
    font-size: 36px;
    color: #EBD9B4;
}
.min_header_container{
    padding: 0 150px;
}
.min_header_container h1{
    font-size: 80px;
    color: #EBD9B4;
    margin: 40px 0;
}
.min_header_container .container_box{
    background-color: #EBD9B4;
    padding: 8px 12px;
    color: #1F3B2C;
    display: inline-block;
    margin: 40px 0;
}
.min_header_container .paragraph{
    color: #FFF;
    background-color: rgb(35, 30, 26,70%);
    padding: 12px 20px;
    max-width:1000px;
    line-height: 48px;
}
@media screen and (max-width: 1024px){
    .min_header{
        background-image: url(images/istockphoto-839874814_R.jpg);
    }
}
@media screen and (max-width: 740px){
    .min_header{
        padding: 150px 0;
    }
    .min_header_container{
        padding: 0 20px;
    }
    .min_header_container h1{
        font-size: 36px;
    }
    .min_header_container .paragraph{
        line-height: 32px;
        padding: 8px;
    }
}

/* factory_info */
.factory_info{
    padding: 80px 0;
    text-align: center;
    background-image: url(images/factory_info.png);
    background-size: cover;
    background-attachment: fixed;
    color: #EBD9B4;
}
.factory_info .mask{
    background-color: rgb(0, 0, 0,0.6);
}
.factory_info .title{
    margin: 40px 0;
}

/* point */
.point{
    padding: 100px 0;
    background-color: #231E1A;
    background-size: cover;
}
.point_container{
    width: 80%;
    margin: 50px auto;
    justify-content: space-between;
}
.point_box{
    width: 360px;
}
.point_container .point_box_img{
    width: 100%;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
}
.point_title{
    padding: 8px 16px;
    background-color: #FFF;
    color: #1F3B2C;
    position: absolute;
    bottom: 0;
    left: 0;
}
.point_box_content{
    width: 100%;
    color: #FFF;
    display: inline-block;
    margin-top: 20px;
}
@media screen and (max-width: 1024px){
    .point_container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .point_box{
        margin: 20px 0;
    }
}
/* fruit */
.fruit .row{
    width: 100%;
}
.fruit .row .col-6{
    height:600px ;
    background-size: cover;
    background-repeat: no-repeat;
}
.fruit_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #1F3B2C;
    opacity: 0.9;
    color: #EBD9B4;
    padding: 40px;
}
.fruit_container .right{
    text-align: right;
    margin: 40px 0;
}
.fruit_container p{
    text-align: center;
}

@media screen and (max-width: 1024px){
    .fruit_container{
        padding: 12px;
        width: 80%;
    }
    .fruit_container h3{
        font-size: 24px;
    }
}
@media screen and (max-width: 740px){
    .fruit .row{
        flex-direction: column;
    }
    .fruit .row .col-6{
        width: 100%;
        height:320px ;
    }
    .fruit_container{
        width: 95%;
    }
    .fruit_container h3{
        font-size: 20px;
    }
}
/* award */
.award{
    padding: 150px 0;
    color: #EBD9B4;
    text-align: center;
    background-color: #231E1A;
}
#award_icon{
    position: absolute;
    right: 80px;
    transform: rotate(15deg);
}
.award .title{
    margin: 40px;
}
.award .row{
    width: 100%;
    margin: 0 auto;
    margin-top: 150px;
    justify-content: space-around;
    align-items: center;
}
.award .row .col-3{
    width: 400px;
} 
.award .row .col-3 img{
    width: 100%;
} 
@media screen and (max-width: 1024px){
    .award{
        overflow: hidden;
    }
    .award .row{
        flex-wrap: wrap;
    }
    .award .row .col-3{
        margin: 12px 0;
    } 
    #award_icon{
        opacity: 0.4;
        right: 10px;
        top: 50px;
    }
}

@media screen and (max-width: 740px){
    .award{
        padding: 80px 0;
    }
    #award_icon{
        position: relative;
        width: 200px;
        opacity: 1;
        transform: rotate(0deg);
        top: auto;
        right: auto;
        margin-bottom: 40px;
    }
    .award .title{
        display: none;
    }
    .award p{
        text-align: left;
        padding: 0 12px;
    }
    .award .row{
        margin-top: 50px;
    }
    .award .row .col-3{
        padding: 20px;
    }
}




/* -------------------------- *\
	product.html
\* -------------------------- */
.product_header{
    width: 100%;
    text-align: center;
}

.brand_box{
    position: absolute;
    bottom: 0;
    z-index: 4;
    background-image: url(images/product/product_mask.png);
    background-size: cover;
}
.product_header .brand_box h1{
    color: #FFF;
    font-size: 60px;
    letter-spacing: 24px;
    margin-top: 40px;
}

.product_title{
    font-size: 160px;
    color: #1F3B2C;
    font-family: 'RocknRoll One', sans-serif;
    display: inline-block;
    position: absolute;
    top: 50px;
    right: 50px;
    letter-spacing: 60px;
    font-weight: lighter;
}

.product .row{
    width: 80%;
    margin: 100px auto;
    margin-bottom: 0;
    justify-content: space-around;
    flex-wrap: wrap;
}
.product .row .col-6{
    width: 480px;
    margin: 40px 0;
}


/* productCard */

.product_img{
    width:100% ;
    height: 300px;
    background-size: cover;
}
.product_content{
    background-color:#EBD9B4 ;
    color: #1F3B2C;
    padding: 20px;
    text-align: center;
}


.food{
    padding: 200px 0;
}
.food img{
    position: absolute;
    top: 100px;
    left: 0;
}

.product_content .box_line{
    border: #1F3B2C solid 2px;
}
.noodle{
    padding: 200px 0;
    background-color: #EBD9B4;
}
.noodle .img1{
    position: absolute;
    top: 0;
    left: -100px;
    width: 700px;
}
.noodle .img2{
    position: absolute;
    right: 0;
    top: -500px;
}
.noodle .product_title{
    color: #1F3B2C;
    right: 20px;
}
.noodle .product_content{
    color: #EBD9B4;
    background-color: #1F3B2C;
}

.noodle .product_content .box_line{
    border-color: #EBD9B4;
}

.vet{
    padding:200px 0;
}
.vet img{
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
}
.vet .product_title{
    left: 50px;
    
}