/* -------------------------- *\
	Globel
\* -------------------------- */
* {
	box-sizing: border-box;
	position: relative;
}
html,body {
    font-family: 'Kosugi Maru', sans-serif;
	margin: 0;
}
h1{
    font-size: 64px;
    letter-spacing: 40px;
    margin: 0;
}
h2{
    font-size: 36px;
    margin: 0;
    font-weight: 400;
}
h3{
    font-size: 32px;
    margin: 0;
}
p{
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 8px;
}

/* -------------------------- *\
	Layout
\* -------------------------- */
.container{
    width: 75%;
    margin: 0 auto;
}
.row{
    display: flex;
}
.col-3{
    width: 33.333%;
}

/* -------------------------- *\
	Component
\* -------------------------- */
.title_border{
    display: inline-block;
    border: #1F3B2C 4px solid;
    border-radius: 50px;
    padding: 16px 12px;
}
.title_border h2{
    line-height: 60px;
    color: #1F3B2C;
}
.title_border::after{
    content: " ";
    display: inline-block;
    height: 30px;
    width: 8px;
    background-color: #FFF;
    position: absolute;
    left: -5px;
    bottom: 20px;
}
.title_border::before{
    content: " ";
    display: inline-block;
    height: 30px;
    width: 8px;
    background-color: #FFF;
    position: absolute;
    right: -5px;
    top: 20px;
}


/* -------------------------- *\
	Header
\* -------------------------- */
.header{
    width: 100%;
    background-color: #EBD9B4;
    padding-bottom: 200px;
}
.header_bg{
    width: 90%;
    margin: 0 auto;
    padding-top: 80px;
}
.top{
    position: absolute;
    top: 20px;
    z-index: 5;
}
.top .logo{
    margin-left: 2%;
    margin-bottom: 10px;
}
.vegetable{
    background-image:url(images/dust.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 100%;
    padding-left: 200px;
}
.vegetable img{
    margin-left: 50px;
}

/* -------------------------- *\
	About
\* -------------------------- */
.about_bg{
    background-color: #EBD9B4;
}
.title_box{
    display: flex;
    width: 100%;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0);
}
.title_box .line{
    height: 4px;
    width: 32%;
    border-radius:4px;
    background-color: #EBD9B4;
}
.title_box .title{
    width: 36%;
    color: #EBD9B4;
    text-align: center;
}
.title_box .title h3{
    font-size: 20px;
    letter-spacing: 20px;
}
.about_container{
    width: 75%;
    background-color: #9DBC98;
    margin: 0 auto;
    padding: 16px;
    border-radius: 20px;
    margin-top:-100px;
}
.about_container .col-3 img{
    width: 80px;
}
.about_container .col-3{
    text-align: center;
    color: #F9EFDB;
    border-right: #EBD9B4 solid 4px;
    padding: 0 30px;
}
.about_container .col-3:last-child{
    border-right:none;
}
.about_container h3{
    letter-spacing:15px;
    font-weight: 400;
    margin: 16px 0;
}

/* -------------------------- *\
	News
\* -------------------------- */
.news{
    margin: 0 auto;
    padding: 150px 0;
}
.news_container{
    display: flex;
    padding-left: 200px;
}
.news_container .title_border{
    margin-top: 100px;
}
.news_box{
    display: flex;
    width: 100%;
    margin-left: 150px;
    overflow: hidden;
}
.news_card{
    width: 350px;
    height: 500px;
    border: #1F3B2C 8px solid;
    border-radius: 30px;
    overflow: hidden;
    background-color: #FFF;
}
.news_content{
    padding: 8px;
}
.news_content h3{
    background-color: #1F3B2C;
    color: #EBD9B4;
    display: inline-block;
    font-weight: 400;
    padding: 4px 16px;
    border-radius: 20px;
    margin: 16px 0;
}
.news_content p{
    padding: 0 8px;
}
.news .big_vegetable{
    position: absolute;
    bottom: -300px;
    left: -30px;
    animation: rotate2 3s infinite;
}
/* owl-carousel */
.owl-carousel .owl-nav.disabled{
    display: block;
    font-size: 64px;
    margin: 40px 0;
    text-align: center;
    color: #EBD9B4;
}
.owl-carousel .owl-prev,.owl-next{
    width: 70px;
    height: 70px;
    background-color: #1F3B2C !important;
    border-radius: 100%;
    margin: 0 30px;
}
/* -------------------------- *\
	Contact
\* -------------------------- */
.contact{
    width: 100%;
    padding: 200px 0;
    overflow: hidden;
}
.contact .container{
    display: flex;
    align-items: center;
}
.contact_conent{
    display: inline-block;
    margin-left: 100px;
    padding-left: 40px;
}
.contact_conent::before{
    content: "";
    display: inline-block;
    width: 4px;
    height: 100%;
    background-color: #1F3B2C;
    border-radius: 4px;
    position: absolute;
    left: 0;
}
.carrot{
    position: absolute;
    top: 0px;
    right: -50px;
    animation: rotate 3s infinite;
}

/* -------------------------- *\
	Footer
\* -------------------------- */
footer{
    height: 200px;
    width: 100%;
    background-color: #1F3B2C;
    padding: 20px 40px;
}
footer img{
    width: 200px;
}

/* -------------------------- *\
	Animate
\* -------------------------- */

@keyframes rotate {
	0% {
		transform: rotate(-30deg);
	}
    50%{
        transform: rotate(-35deg);
    }
	100% {
		transform: rotate(-30deg);
	}
}
@keyframes rotate2 {
	0% {
		transform: rotate(50deg);
	}
    50%{
        transform: rotate(55deg);
    }
	100% {
		transform: rotate(50deg);
	}
}